{% extends "admin/@admin_layout.twig" %}
{% block content %}
<div class="uk-container uk-container-expand uk-background-muted" uk-height-viewport>
	<div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-top uk-width-1-4@s uk-align-center">
		<h2 class="uk-text-warning uk-text-center">Foto Kit</h2>
		<form id="admin_signin_form" class="uk-padding-small" method="post">
			<div class="uk-margin">
				<input id='admin_signin_form_login' 
				name='admin_signin_form_login' class="uk-input" 
				type="text" placeholder="Login...">
			</div>
			<div class="uk-margin">
				<input id='admin_signin_form_pswd' 
				name='admin_signin_form_pswd' class="uk-input" 
				type="password" placeholder="Password...">
			</div>
			<button id='admin_signin_form_auth_btn' class="uk-button uk-button-primary" type="submit">SIGN IN</button><span>&nbsp;&nbsp;</span>
			<div id='admin_signin_form_spinner' style='display:none' uk-spinner></div>
			<div id='admin_signin_form_response' class='uk-margin-top'></div>
		</form>
	</div>
</div>
{% endblock content %}